/*********************************
/*  Common Css Start
*********************************/
.border-none {
    border: none !important;
}

.btn-round {
    border-radius: 4px !important;
}

.bg-white {
    background-color: $white !important;
}

.bg-color {
    background: #FCFAFF !important;
}

button {
    &:hover,
    &:focus {
        outline: 0px;
    }
}

/*********************************
/*  row Custom
*********************************/

.row {
    &.margin-off {
        margin-left: -15px;
        margin-right: -15px;
    }
    &> * {
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 1);
        padding-left: calc(var(--bs-gutter-x) * 1);
        margin-top: var(--bs-gutter-y);
    }
}

.column-reverse {
    &-lg {
        @include respond(tabland) {
            flex-direction: column-reverse !important;
        }
    }
    &-md {
        @include respond(tabport) {
            flex-direction: column-reverse !important;
        }
    }
    &-sm {
        @include respond(phone) {
            flex-direction: column-reverse !important;
        }
    }
}

@media (min-width: 479px) and (max-width: 575px) {
    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

/*********************************
/*  Heading Typography
*********************************/
h1 {
    font-family: $default;
    font-size: 80px;
    font-weight: $bold;
    line-height: 80px;
    letter-spacing: 0em;
    color: $white;
}
h2 {
    font-family: $default;
    font-size: 40px;
    font-weight: $semibold;
    line-height: 55px;
    letter-spacing: 0em;
    color: $heading;

    @include respond(tabport) {
        font-size: 34px;
        line-height: 40px;
    }
    @include respond(phone-sm) {
        font-size: 30px;
    }
}
h3 {
    font-family: $default;
    font-size: 24px;
    font-weight: $medium;
    line-height: 30px;
    letter-spacing: 0em;
    color: $primary;

    @include respond(phone) {
        font-size: 20px;
    }
}
h4 {
    font-family: $default;
    font-size: 20px;
    font-weight: $semibold;
    line-height: 30px;
    letter-spacing: 0em;
}

/*********************************
/*  Content Typography
*********************************/
p {
    font-family: $default;
    font-size: 16px;
    font-weight: $medium;
    line-height: 24px;
    letter-spacing: 0em;
    color: $content;
}

