/*********************************
/* Blog Single Start
*********************************/
.blog__post {
	&.single {
		box-shadow: none;
		margin-bottom: 24px;

		.blog__image {
			max-height: 460px;
			aspect-ratio: 5/4;
			width: 100%;
			border-radius: 8px;
			overflow: hidden;
			border: 4px solid $white;
			box-shadow: 0px 4px 8px 0px #0e1e3529;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}
		.blog__meta {
			padding: 30px;
			background: linear-gradient(180deg, rgba(1, 1, 2, 0) 0%, #010102 91.05%);
		}
		&:hover {
			box-shadow: none;

			img {
				transform: scale(1);
			}
		}
	}
}

.filter__controls {
	@include flexbox($a: center, $jc: space-between);
	margin-bottom: 63px;

	@include respond(phone) {
		display: block;
	}
}

/*********************************
/* Select Start
*********************************/
.select__style {
	.select2-container {
		width: 283px !important;
		@include respond(phone) {
			width: 100% !important;
		}
		.select2-selection {
			&--single {
				background: rgba($secondary, 0.16);
				height: 50px;
				width: 283px;
				border-radius: 4px;
				display: flex;
				align-items: center;
				padding: 0px 15px;
				border: none;
				outline: none;

				&:focus {
					border-color: $primary;
				}
				@include respond(phone) {
					width: 100%;
				}
			}
			&__rendered {
				font-family: $default;
				font-size: 16px;
				color: $secondary;
				font-weight: $semibold;
				line-height: inherit;
				letter-spacing: 0.04em;
				text-align: left;
			}
			&__arrow {
				height: 100%;
				top: 0;
				right: 5px;

				b {
					// border-color: transparent transparent #fff transparent !important;
					// border-width: 0 6px 7px 6px !important;
					border-width: 7px 6px 0 6px;
					border-color: #5c6680 transparent transparent transparent;
					margin-left: -10px;
				}
			}
		}
		&--open {
			.select2-selection__arrow b {
				border-color: transparent transparent #5c6680 transparent !important;
				border-width: 0 6px 7px 6px !important;
			}
		}
	}
}
.select2-results {
	color: $white;
	// background: rgba($secondary, 0.2);

	&__option {
		font-family: $default;
		font-size: 16px;
		color: $white !important;
		font-weight: $regular;
		padding: 8px;
	}
}
.select2-dropdown {
	border: 1px solid #efefef;
	border-radius: 8px;
	background: rgba($secondary, 1);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #426882;
	padding: 6px;
	outline: none;
	background: $secondary;
	color: $white;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
	background: rgba($primary, 0.5);
	color: #fff !important;
}

/*********************************
/* Select End
*********************************/
.search__bar {
	max-width: 540px;
	flex: 1;
	margin-left: 20px;

	@include respond(phone) {
		margin-left: 0;
		margin-top: 15px;
	}
}

/* Bottom Meta Start*/
.bottom__meta {
	@include flexbox($a: center, $jc: space-between);

	@include respond(tabport) {
		display: block;
	}
	.admin {
		a {
			font-family: $default;
			font-size: 18px;
			font-weight: $medium;
			line-height: 18px;
			color: $primary;
			text-transform: capitalize;
			transition: $transition;

			&:hover {
				color: $primary;
			}

			i {
				margin-right: 8px;
			}
			@include respond(tabland) {
				font-size: 15px;
			}
		}
	}
	.right-content {
		@include flexbox($a: center, $jc: center);

		@include respond(tabport) {
			display: block;
		}
	}
	.content__list {
		display: flex;

		@include respond(tabland) {
			margin: 20px 0px;
		}
		li {
			list-style: none;
			a {
				font-family: $default;
				font-size: 16px;
				font-weight: $medium;
				line-height: 18px;
				color: $content;
				text-transform: capitalize;
				margin-right: 32px;
				position: relative;
				transition: $transition;

				&:hover {
					color: $primary;
				}
				i {
					margin-right: 10px;
				}

				&::before {
					position: absolute;
					content: "";
					top: 50%;
					right: -16px;
					transform: translateY(-50%);
					width: 1px;
					height: 100%;
					background: $content;

					@include respond(tabland) {
						right: -6px;
					}
				}
				@include respond(tabland) {
					font-size: 14px;
					margin-right: 10px;
				}
				@include respond(tabport) {
					margin-right: 10px;

					&::before {
						display: none;
					}
				}
				@include respond(phone) {
					margin-right: 20px;
					margin-bottom: 10px;
					display: block;
				}
			}
		}
		@include respond(phone) {
			flex-wrap: wrap;
		}
	}
	.share__icon {
		display: flex;
		align-items: center;
		.title {
			color: $content;
			font-size: 18px;
			margin-bottom: 0;

			@include respond(tabland) {
				font-size: 15px;
			}
		}

		.social {
			@include flexbox($a: center, $jc: center);
			margin-left: 10px;
			a {
				height: 30px;
				width: 30px;
				background: rgba($white, 0.1);
				border-radius: 50%;
				color: $content;
				font-size: 13px;
				@include flexbox($a: center, $jc: center);
				margin-right: 16px;
				transition: $transition;

				&:last-child {
					margin-right: 0;
				}
				&.active,
				&:hover {
					box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
					color: $primary;
				}
				@include respond(tabland) {
					margin-right: 6px;
				}
			}
		}
	}
}

/* Bottom Meta End*/

/* BSingle Content Wrapper Start*/
.single__content--wrapper {
	border-bottom: 1px solid #f1f1f1bd;
	margin-top: 63px;
}
.single__content {
	.content__title {
		font-size: 36px;
		line-height: 52px;
		font-weight: $semibold;
		color: $heading;
		text-transform: capitalize;
		margin-bottom: 0;

		@include respond(tabport) {
			font-size: 28px;
			line-height: 48px;
		}
		@include respond(phone) {
			font-size: 25px;
			line-height: 35px;
		}
	}
	.desc {
		.para {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.02em;
			margin-top: 25px;
			margin-bottom: 0;
			// max-width: 1050px;
		}
	}
}
/* Single Content Wrapper End*/

/* Blockquote Start*/
.blockquote {
	margin-bottom: 40px;
	blockquote {
		background: $white;
		// box-shadow: 0px 28px 40px rgba(14, 30, 53, 0.2);
		box-shadow: 0px 0px 40px 10px rgba(163, 163, 163, 0.2);
		border-radius: 8px;
		padding: 30px;
		margin-top: 33px;
		border-left: 3px solid $secondary;
		text-align: left;

		.quote__content {
			position: relative;
			.desc {
				font-size: 18px;
				font-style: italic;
				line-height: 33px;
				margin-bottom: 0;
				color: $secondary;

				@include respond(tabland) {
					font-size: 16px;
					line-height: 30px;
				}
			}
			.quote-1 {
				display: block;
				width: auto;
				height: auto;
				position: absolute;
				left: 90px;
				top: -35px;
			}
			.quote-2 {
				display: block;
				width: auto;
				height: auto;
				position: absolute;
				bottom: -35px;
				right: 100px;
			}
		}
	}
}
/* Blockquote End */

.flex__item {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 60px;

	@include respond(tabland) {
		display: block;
	}

	.flex__content {
		flex-basis: calc(60% - 15px);
	}
}

.single__img {
	flex-basis: calc(40% - 15px);
	aspect-ratio: 4.5/3.3;
	border-radius: 8px;
	box-shadow: 0px 4px 8px 0px #0e1e3529;
	border: 4px solid $white;
	display: block;
	position: relative;

	img {
		aspect-ratio: 4.5/3.3;
		border-radius: 8px;
		width: 100%;
		height: auto;
		display: block;
		object-fit: cover;
	}
	@include respond(tabland) {
		margin-top: 30px;
	}
}

/* Tags Start */
.blog__tags {
	@include flexbox($a: center, $jc: space-between);
	margin: 40px 0px 50px;
	.tag__title {
		font-family: $default;
		font-size: 18px;
		font-weight: $medium;
		line-height: 18px;
		color: $heading;
		margin-bottom: 0;

		img {
			width: auto;
			height: auto;
			display: inline-block;
			margin-right: 12px;
		}
	}

	.tag__item {
		display: flex;
		align-items: center;
		.tag__list {
			@include flexbox($a: center, $jc: center);

			@include respond(medium) {
				flex-wrap: wrap;
				justify-content: start;
			}
			li {
				list-style: none;
				a {
					font-size: 16px;
					line-height: 18px;
					font-weight: $semibold;
					color: $secondary;
					padding: 11px 28px;
					display: inline-block;
					text-transform: capitalize;
					background: rgba($secondary, 0.16);
					border-radius: 8px;
					margin-left: 29px;
					transition: $transition;

					&:hover {
						background: $secondary;
						color: $white;
					}

					@include respond(xl) {
						padding: 11px 20px;
					}
					@include respond(medium) {
						margin-left: 10px;
						// margin-bottom: 10px;
					}
					@include respond(tabland) {
						padding: 8px 12px;
						font-size: 14px;
						margin-top: 10px;
					}
				}
			}
		}
	}
	@include respond(tabland) {
		display: block;
	}
}

/* Tags End */

/* Owner Start */
.owner {
	@include flexbox($a: center, $jc: inherit);
	background: $primary;
	border-radius: 8px;
	padding: 32px;

	.avatar {
		margin-right: 24px;
		aspect-ratio: 1.3/1.1;
		border-radius: 8px;
		border: 4px solid $white;
		width: 130px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			border-radius: 8px;

			@include respond(phone-sm) {
				width: auto;
				margin: 0 auto;
			}
		}
		@include respond(phone-sm) {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
	.owner__discription {
		flex: 1;

		.title {
			font-family: $default;
			font-size: 18px;
			font-weight: $medium;
			line-height: 24px;
			color: $white;

			margin-bottom: 8px;
			a {
				color: $white;
				display: block;
			}
		}
		.desc {
			font-size: 14px;
			line-height: 22px;
			font-weight: $regular;
			color: $white;
			max-width: 550px;
		}
		@include respond(phone-sm) {
			text-align: center;
		}
	}
	@include respond(phone-sm) {
		display: block;
	}
}

/*  Owner End */

/* App Box Start */
.app__box {
	background: $primary;
	border-radius: 8px;
	padding: 25px 30px;
	width: 260px;
	margin-left: auto;

	@include respond(tabland) {
		margin: 30px 0 0;
		width: 100%;
		text-align: center;
	}

	.title {
		font-size: 20px;
		line-height: 30px;
		font-weight: $medium;
		color: $white;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	.desc {
		font-size: 14px;
		color: $white;
		line-height: 24px;
		margin-bottom: 0;
	}

	.apps {
		// margin-top: 22px;
		a {
			img {
				width: auto;
				height: auto;
				display: inline-block;
				margin-top: 22px;

				@include respond(tabland) {
					margin: 22px auto 0px;
				}
			}
		}
	}
}

/* App Box End */

/* Comment Start */
.post__title {
	margin-top: 30px;
	.title {
		font-size: 28px;
		font-weight: $semibold;
		color: $heading;
		line-height: 52px;
		margin-bottom: 64px;
	}
}

.comment__content {
	display: flex;
	align-items: flex-start;
	margin: 40px 0px;
	padding-bottom: 40px;
	border-bottom: 1px solid $border;

	.avatar {
		img {
			width: 64px;
			height: 64px;
			display: block;
			border: 2px solid $primary;
			border-radius: 50%;
			margin-right: 24px;
		}
		@include respond(phone-sm) {
			margin-bottom: 30px;
		}
		&.ml-80 {
			@include respond(phone-sm) {
				margin-left: 0 !important;
			}
		}
	}

	@include respond(phone-sm) {
		display: block;
	}
}

.comment__discrip {
	flex: 1;
	position: relative;
	max-width: 1000px;
	.comment {
		&__name {
			.title a {
				font-family: $default;
				font-size: 18px;
				font-weight: $semibold;
				line-height: 24px;
				letter-spacing: 0em;
				text-align: left;
				color: $heading;
				display: block;
				margin-bottom: 10px;
			}
			.calender {
				font-family: $default;
				font-size: 15px;
				line-height: 18px;
				font-weight: $medium;
				color: $content;
				display: flex;
				align-items: center;
				text-transform: capitalize;

				img {
					width: auto;
					height: auto;
					display: inline-block;
					margin-right: 10px;
				}
			}
		}
		&__para {
			margin-top: 20px;
			max-width: 800px;
			p {
				font-size: 14px;
				line-height: 22px;
			}
		}
		&__replay {
			position: absolute;
			top: 3px;
			right: 0;
			.btn {
				svg {
					margin-right: 10px;
					path {
						transition: $transition;
					}
				}
				&:hover {
					svg path {
						fill: currentColor;
					}
				}
			}
		}
	}
}
/* Comment End */

.replay__title {
	.title {
		font-family: $default;
		font-weight: $heading;
		font-weight: $semibold;
		color: $heading;
		display: block;
		margin-bottom: 30px;
	}
}

/*********************************
/* Blog Single End
*********************************/
