/*********************************
/* Blog Post Start
**********************************/
.blogPost {
    background: $white;
    padding: 16px;
    border-radius: $radius;
    margin-bottom: 30px;
    height: calc(100% - 30px);
    border: 1px solid #ededed;
    box-shadow: 0px 1px 5px 0px #5050501a;
    transition: $transition;
    display: flex;
    flex-direction: column;

    &__image {
        background: $white;
        aspect-ratio: 3.4/2.4;
        min-height: 240px;
        width: 100%;
        border-radius: 8px;
        @include flexbox($a: center, $jc: center);
        display: inline-flex;
        overflow: hidden;
        position: relative;
        transition: $transition;

        @include respond(phone) {
            min-height: unset;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 8px;
            border: 1px solid #ededed;
            object-fit: cover;
            transition: $transition;
        }
    }
    &__badge {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 60px;
        width: 50px;
        border-radius: 5px;
        @include flexbox($a: center, $jc: center);
        background: rgba($white, 0.9);
        display: inline-flex;

        .category {
            font-family: $default;
            font-size: 15px;
            font-weight: $semibold;
            line-height: 18px;
            color: $black;
            margin-bottom: 0;
            text-align: center;
            .date {
                display: block;
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__content {
        flex: 1;
        padding: 16px 0 0;
        // min-height: 240px;
    }
    &__meta {
        @include flexbox($a: center, $jc: inherit);
        margin-bottom: 16px;

        li {
            font-family: $default;
            font-size: 16px;
            line-height: 24px;
            color: $content3;
            display: inline-block;
            font-weight: $regular;
            text-transform: capitalize;
            transition: $transition;
            margin-right: 20px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -13px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background: rgba($primary, 0.3);
            }

            &:last-of-type {
                margin-right: 0;

                &::after {
                    display: none;
                }
            }

            a {
                color: $content3;
                display: inline-block;
                transition: $transition;

                &:hover {
                    color: $primary;
                }

                i {
                    color: currentColor;
                    margin-right: 8px;
                }
            }
        }
    }
    &__title {
        font-size: 20px;
        font-weight: $bold;
        margin-bottom: 16px;
        text-transform: capitalize;

        a {
            color: #344054;
            display: block;
            transition: $transition;
        }

        @include respond(phone-xm) {
            font-size: 18px;
        }
    }
    &__desc {
        font-family: $default;
        font-weight: $regular;
        color: $content;
        line-height: 28px;
        margin-bottom: 0;
    }
    &__bottom-meta {
        margin-top: 25px;
        @include flexbox($a: center, $jc: space-between);

        &.border {
            border: none !important;
            border-top: 1px solid #ebebeb !important;
            padding-top: 16px;
        }
    }
    &__metaName {
        li {
            font-family: $default;
            font-size: 16px;
            line-height: 24px;
            color: $content3;
            display: inline-block;
            font-weight: $regular;
            text-transform: capitalize;
            position: relative;
            list-style: none;

            a {
                display: inline-block;
                color: $content3;
                transition: $transition;
                text-transform: none;

                &:hover {
                    color: $primary;
                }
                i {
                    color: currentColor;
                    margin-right: 5px;
                }
            }
            i {
                margin-right: 5px;
            }
        }
    }
    &__action {
        @include flexbox($a: center, $jc: inherit);
        a {
            font-size: 13px;
            color: $secondary;
            height: 27px;
            width: 27px;
            background: rgba($secondary, 0.1);
            @include flexbox($a: center, $jc: center);
            margin-right: 10px;
            transition: $transition;
            border-radius: 50%;

            &:last-of-type {
                margin-right: 0;
            }

            &:hover {
                color: $white;
                background: $secondary;
            }
        }
        .btn {
            padding: 6px 9px;
            font-size: 14px;
            line-height: 14px;
            width: auto;
            display: block;
            height: auto;
            font-weight: $medium;
            border-radius: 4px;
            min-width: 95px;

            &:hover {
                color: $white;
            }
        }
    }
    &:hover {
        border-color: $white;
        box-shadow: 0px 5px 25px 0px #5050501a;
        .blogPost {
            &__image {
                img {
                    transform: scale(1.05);
                }
            }
            &__title a {
                color: $primary;
            }
            &__price {
                opacity: 0;
                visibility: hidden;
            }
            &__btn {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.post__owner {
    @include flexbox($a: center, $jc: inherit);

    .owner {
        &__avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 15px;
            border: 2px solid $primary;
            img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
            }
        }
        &__info {
            .title {
                font-family: $default;
                font-size: 15px;
                font-weight: $semibold;
                line-height: 15px;
                color: #2d2d2d;
                margin-bottom: 10px;
                text-transform: uppercase;

                a {
                    color: #2d2d2d;
                    display: block;
                    transition: $transition;
                }
            }
            .date {
                font-family: $default;
                font-size: 13px;
                font-weight: $medium;
                line-height: 15px;
                color: #5c6680;
                display: block;
                margin: 0;
            }
        }
    }
    &:hover {
        .owner {
            &__info {
                .title a {
                    color: $primary;
                }
            }
        }
    }
}

/*********************************
/* Blog Post End
**********************************/
