/*********************************
/*  breadcrumb Css Start
*********************************/
.breadcrumb {
    min-height: 345px;
    @include bg-props;
    background: $subBg;
    @include flexbox($a: center, $jc: center);
    position: relative;
    z-index: 1;
    margin-top: -24px;
    margin-bottom: 0;

    @include respond(tabland) {
        min-height: 250px;
    }
    @include respond(tabport) {
        margin-top: 0;
    }
    @include respond(phone) {
        min-height: 200px;
    }
    &::after {
        @include bg-overlay($c: rgba(#283646, 0.9));
        mix-blend-mode: multiply;
    }
    &__inner {
        width: 100%;
        max-width: 500px;
        // @include flexbox($a: center, $jc: center);
        // flex-direction: column;
        position: relative;
        text-align: center;
        margin: 30px auto;
    }
    &__subheader {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 12px;
        text-transform: capitalize;
        @include respond(phone) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
        }
    }
    &__header {
        @extend h1;
        font-size: 32px;
        font-weight: $semibold;
        line-height: 35px;
        margin-bottom: 16px;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        @include respond(phone) {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 12px;
        }
    }
    &__text {
        width: 100%;
        max-width: 600px;
        font-family: $default;
        font-size: 16px;
        font-weight: $light;
        line-height: 25px;
        letter-spacing: 0em;
        color: #f2f2f2;
        margin-bottom: 16px;
        text-transform: capitalize;
        @include respond(tabport) {
            font-size: 15px;
            line-height: 24px;
        }
    }
    &__meta {
        .link {
            font-family: $default;
            font-size: 18px;
            line-height: 24px;
            color: $secondary;
            font-weight: $regular;
            display: inline-block;
            text-decoration: none;
            transition: $transition;
            position: relative;
            margin-right: 20px;
            @include respond(phone) {
                font-size: 16px;
                line-height: 24px;
            }

            &::after {
                content: "\f105";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                color: $secondary;
                top: 50%;
                height: auto;
                transform: translateY(-50%);
                right: -15px;
                font-size: 16px;
            }
            &:hover {
                color: $primary;
            }
        }
        span {
            font-family: $default;
            font-size: 18px;
            line-height: 24px;
            color: $white;
            font-weight: $regular;
            display: inline-block;
            @include respond(phone) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

/*********************************
/*  breadcrumb Css End
*********************************/
