/*********************************
/*  Button Css Start
*********************************/
.btn {
    font-family: $default;
    font-size: 16px;
    font-weight: $semibold;
    line-height: 16px;
    color: $white;
    text-transform: capitalize;
    padding: 16px 33px;
    min-width: 124px;
    border-radius: $radius;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    outline: none;
    transition: $transition;

    @include respond(phone) {
        font-size: 15px;
        padding: 12px 24px;
    }

    &:hover,
    &:focus {
        box-shadow: none;
        outline: none;
    }
    &-primary {
        background: $secondary;
        color: $white;
        border: 1px solid $secondary;

        &:hover {
            border: 1px solid $primary;
            color: $white;
            background: $primary;
        }
    }
    &-outline {
        background: rgba($secondary, 0.1);
        color: $secondary;
        border: 1px solid $secondary;

        &:hover {
            background: $secondary;
            color: $white;
        }
    }
    i,
    img {
        color: currentColor;
        width: auto;
        height: auto;
        margin-right: 10px;
        max-width: 22px;
    }
}

/*********************************
/*  Button Css End
*********************************/

.solid__btn {
    font-family: $default;
    font-weight: $semibold;
    font-size: 16px;
    line-height: 24px;
    color: $secondary;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
    transition: $transition;
    i {
        height: 24px;
        width: auto;
        @include flexbox($a: center, $jc: center);
        font-size: 10px;
        margin-left: 5px;
    }

    &:hover {
        color: $primary;
    }
}
