// Cart Section Start

.cart-section {
    background-image: url("../images/cart/cart-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.cart__form {
    border: 0.8px solid $border;
    border-radius: 8px;

    @include respond(tabland) {
        overflow: scroll;
    }

    table {
        width: 100%;

        @include respond(tabland) {
            width: 900px;
        }
    }
    thead {
        tr {
            th {
                border-right: 1px solid $border;
                font-family: $default;
                color: #5c6680;
                font-size: 16px;
                line-height: 16px;
                font-weight: $medium;
                text-align: center;
                padding: 15px 30px;

                &:last-of-type {
                    border: none;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                border: 1px solid #f4f4f4;
                color: #9096a6;
                font-family: $default;
                font-weight: $medium;
                font-size: 18px;
                text-align: center;
                line-height: 20px;
                padding: 15px 30px;

                @include respond(tabland) {
                    font-size: 16px;
                }
            }
        }
    }
    .cart__pd {
        &-thumb {
            @include flexbox($a: center, $jc: center);
            padding: 15px 10px;
            .icon {
                width: 46px;
                height: 46px;
                background: rgba($secondary, 0.3);
                @include flexbox($a: center, $jc: center);
                border-radius: 8px;
                margin-right: 30px;
            }
            img {
                text-align: center;
                width: auto;
                height: auto;
                max-width: 25px;
                display: inline-block;
            }
            .product__title {
                font-family: $default;
                font-size: 18px;
                font-weight: $semibold;
                line-height: 28px;
                color: $heading;
                margin-bottom: 0;

                @include respond(tabland) {
                    font-size: 16px;
                }
            }
        }
        &-total {
            button {
                color: #9096a6;
                font-family: $default;
                font-weight: $medium;
                font-size: 18px;
                text-align: center;
                line-height: 20px;
                border: none;
                outline: none;
                background: transparent;
                transition: $transition;
                cursor: pointer;

                i {
                    margin-left: 12px;
                    display: inline-block;
                    color: currentColor;
                }
                svg {
                    path {
                        fill: currentColor;
                        margin-left: 12px;
                    }
                }
                &:hover {
                    color: $primary;
                }
                @include respond(tabland) {
                    font-size: 16px;
                }
            }
        }
    }
}

.actions__btn {
    padding: 34px 30px !important;

    .action__wrapper {
        @include flexbox($a: center, $jc: space-between);

        .coupon__box {
            @include flexbox($a: center, $jc: inherit);
            flex-wrap: nowrap;
            position: relative;
            flex-basis: 50%;
            .form-control {
                font-family: $default;
                font-size: 14px;
                font-weight: $medium;
                line-height: 16px;
                text-transform: capitalize;
                color: $content;
                padding: 16px 17px;
                display: inline-block;
                height: auto;
                border: 1px solid $border;
                border-radius: 8px;
                position: relative;

                &:focus {
                    box-shadow: none;
                }
            }

            .btn {
                padding: 15px 50px;
                width: auto;
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
                outline: none;
                border-radius: 0px 8px 8px 0px;
                text-transform: capitalize;

                @include respond(xl) {
                    padding: 15px 20px;
                }
                @include respond(medium) {
                    padding: 15px;
                }
            }
        }
    }
}

.pricing__wrap {
    @include flexbox($a: center, $jc: flex-end);
    flex-basis: 50%;
    .total__price {
        .title {
            font-family: $default;
            font-size: 16px;
            line-height: 22px;
            font-weight: $medium;
            color: $heading;
            line-height: 16px;
            margin-bottom: 0;

            span {
                color: $secondary;
            }
        }
    }
    .check__out {
        .btn {
            background: rgba($secondary, 0.3);
            border: none;
            color: $secondary;
            border-radius: 8px;
            margin-left: 65px;
            height: 50px;

            &:hover {
                background: $secondary;
                color: $white;
            }
        }
    }
}

// Cart Section End
