/*********************************
/* FlyOut Menu Start
*********************************/
.flyoutMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: $transition;

    &.active {
        opacity: 1;
        visibility: visible;
        right: 0;

        .flyout__flip {
            left: 0;
            opacity: 1;
            visibility: visible;
        }
    }
    .flyout {
        &__flip {
            @include flexbox($a: inherit, $jc: space-between);
            flex-direction: column;
            flex-wrap: nowrap;
            position: absolute;
            top: 0;
            left: -200px;
            // right: 0;
            background: $white;
            width: 360px;
            height: 100%;
            box-shadow: 0px 14px 40px 0px #73737326;
            // padding: 0px 25px;
            z-index: 99999;
            overflow-y: auto;
            opacity: 0;
            visibility: hidden;
            transition: $transition;

            @include respond(phone-sm) {
                width: 370px;
            }
            @include respond(phone-xm) {
                width: 310px;
            }
        }
        &__inner {
            .menu__header-top {
                @include flexbox($a: center, $jc: space-between);
                padding: 15px 25px 20px;
                // border-bottom: 1px solid $border;
                background: rgba($primary, 0.08);

                .closest__btn {
                    cursor: pointer;
                }
            }
        }
        &-main__menu {
            // margin-top: 16px;
            padding: 0 25px;
            li {
                position: relative;
                list-style: none;
                padding: 10px 0;
                // margin-bottom: 12px;
                border-bottom: 1px solid rgba($primary, 0.1);
                // border-bottom: 1px solid $border;

                a {
                    font-family: $default;
                    font-size: 14px;
                    font-weight: $medium;
                    color: $content2;
                    display: block;
                    line-height: 24px;
                    padding: 0px 0;
                    text-transform: capitalize;
                    transition: $transition;
                    position: relative;
                    &:hover,
                    &.active {
                        color: $primary;
                        &::after {
                            color: $primary !important;
                        }
                    }
                }
                &:last-child a {
                    margin-right: 0;
                }

                &.has__dropdown {
                    a {
                        position: relative;

                        &::after {
                            content: "\f078";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            font-size: 11px;
                            color: $content2;
                            transition: all 0.3s linear;
                            position: absolute;
                            right: 0;
                            // height: 100%;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
                .sub__menu {
                    position: relative;
                    background: $white;
                    z-index: 99;
                    padding-left: 16px;
                    margin-top: 8px;
                    display: none;
                    li {
                        padding: 0;
                        border: none;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                        .title {
                            font-family: $default;
                            font-size: 14px;
                            font-weight: $medium;
                            color: $content2;
                            display: block;
                            line-height: 24px;
                            text-transform: capitalize;
                            transition: $transition;
                            position: relative;
                            &::before {
                                display: none;
                            }
                            &::after {
                                display: block;
                            }
                        }
                        a {
                            padding: 7px 0;
                            font-size: 14px;
                            line-height: 20px;
                            font-family: $default;
                            font-weight: $medium;
                            color: $content2;
                            width: 100%;
                            display: block;
                            position: relative;
                            z-index: 1;
                            &::after {
                                display: none;
                            }
                            &:hover,
                            &.active {
                                color: $primary;
                            }
                        }
                        &:last-child a {
                            border: none;
                        }
                    }
                }
                .sub__sub-menu {
                    padding-left: 16px;
                    display: none;
                }
            }
        }
    }
}
/*********************************
/* FlyOut Menu End
*********************************/
