/* ============================ */
/* Footer Section Start */
/* ============================ */
.footer__section {
    padding-top: 80px;
    background: #001536;
}

.footer__widget {
    padding-bottom: 80px;
    max-width: 320px;

    @include respond(phone-sm) {
        padding-bottom: 30px;
    }
    .footer__logo {
        margin-bottom: 18px;
        img {
            width: auto;
            height: auto;
            display: block;
        }
    }
    .title {
        margin-bottom: 32px;

        h5 {
            font-size: 22px;
            font-weight: $semibold;
            color: $white;
        }
    }
    p {
        color: $white;
        font-size: 15px;
        line-height: 26px;
        font-weight: $regular;

        @include respond(phone-sm) {
            font-size: 14px;
        }
    }
    // .social__icon {
    //     margin-top: 23px;
    //     ul {
    //         display: flex;
    //         align-items: center;
    //         list-style: none;
    //         li {
    //             margin-bottom: 0;
    //             a {
    //                 font-size: 16px;
    //                 color: rgba(255, 255, 255, 0.8);
    //                 background: rgba(102, 102, 102, 0.3);
    //                 height: 40px;
    //                 width: 40px;
    //                 @include flexbox;
    //                 justify-content: center;
    //                 border-radius: 50%;
    //                 margin-right: 9px;
    //                 transition: $transition;

    //                 &:hover {
    //                     background: $primary;
    //                     color: $white;
    //                 }
    //             }
    //             &:last-child a {
    //                 margin-right: 0;
    //             }
    //         }
    //     }
    // }

    ul {
        list-style: none;
        li {
            display: flex;
            align-items: center;
            font-family: $default;
            font-size: 14px;
            font-weight: $regular;
            line-height: 24px;
            color: $white;
            margin-bottom: 12px;
            a {
                color: $white;
                display: flex;
                align-items: center;
                transition: $transition;
                //  padding-left: 3px;

                &:hover {
                    color: $primary;
                }

                img {
                    width: auto;
                    height: auto;
                    display: block;
                    margin-right: 12px;
                }
            }
        }
        &.address {
            li {
                margin-bottom: 15px;
                a {
                    i {
                        font-size: 15px;
                        color: $white;
                        margin-right: 12px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
.footer__social {
    justify-content: flex-start;
    margin-top: 32px;
    li {
        // width: 24px;
        margin-right: 16px;
        a {
            // font-size: 12px;
            &:hover {
                color: $white !important;
            }
        }
    }
}
.footer__address {
    .address__list {
        margin-right: 0;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        .address__desc {
            color: $white;
            a {
                color: $white;
                &:hover {
                    color: $primary;
                }
            }
        }
        &:last-of-type {
            display: flex !important;
        }
    }
}
.footer__widget {
    &.footer__map {
        max-width: unset;
    }
    .map__wrapper {
        width: 100%;
        #map {
            height: 215px;
            border-radius: 8px;
        }
    }
}
.footer__top {
    &__content {
        border-bottom: 0.5px solid #232c45;
        padding-bottom: 42px;
        margin-bottom: 62px;
    }
    .cta__title {
        font-family: $default;
        font-size: 32px;
        font-weight: $bold;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
        color: $white;
        @include respond(tabland) {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 16px;
        }
    }
}
.footer__bottom {
    .footer__content {
        border-top: 0.5px solid #232c45;
        padding: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond(tabland) {
            display: block;
        }
    }
    .content p {
        font-family: $default;
        font-size: 16px;
        line-height: 24px;
        color: $white;
        margin-bottom: 0;

        a {
            color: $primary;
        }

        @include respond(phone) {
            font-size: 15px;
        }
    }
    .link {
        a {
            font-family: $default;
            font-size: 15px;
            font-weight: $regular;
            line-height: 26px;
            color: $white;
            display: inline-block;
            position: relative;
            margin-left: 16px;
            transition: $transition;

            @include respond(phone) {
                font-size: 15px;
            }

            &:hover {
                color: $primary;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: -10px;
                transform: translateY(-50%);
                width: 2px;
                height: 13px;
                background: #d9dbe1;
            }
            &:last-of-type::before {
                display: none;
            }
        }
        @include respond(tabland) {
            margin-top: 20px;
        }
    }
}

/* ============================ */
/* Footer Section End */
/* ============================ */
