/*********************************
/* Pagination Start 
*********************************/
.pagination__item {
    @include flexbox($a: center, $jc: center);
    margin-top: 50px;
    li {
        font-family: $default;
        font-size: 14px;
        line-height: 12px;
        font-weight: $bold;
        color: $secondary;
        width: 38px;
        height: 38px;
        margin: 0 5px;
        border-radius: 5px;
        border: 1px solid $secondary;
        @include flexbox($a: center, $jc: center);
        transition: $transition;

        a {
            color: $secondary;
            height: 100%;
            width: 100%;
            @include flexbox($a: center, $jc: center);
            transition: $transition;
        }
        &:hover,
        &.active {
            background: $secondary;
            border-color: $secondary;
            a {
                color: $white;
            }
        }
    }
}
/*********************************
/* Pagination  End
*********************************/
