// Product Single Start

// Product Preview

.product-gallery {
	overflow: hidden;

	.gallery-top {
		margin-bottom: 30px;
		.swiper-slide {
			.gallery-item {
				img {
					width: 100%;
					height: 331px;
					display: block;
					object-fit: cover;
					border-radius: 8px;
					box-shadow: 0px 8px 8px 0px #0e1e3529;
					border: 3px solid rgba($primary, 0.5);
				}
			}
		}
	}

	.gallery-thumbs {
		.swiper-wrapper {
			.swiper-slide {
				@include flexbox($a: center, $jc: space-between);

				.gallery-item {
					height: 65px;
					width: 65px;
					min-width: 65px;
					border-radius: 8px;
					margin: 0px 3px;
					border: 3px solid rgba($primary, 0.17);
					@include flexbox($a: center, $jc: space-between);
					img {
						width: 100%;
						height: 100%;
						display: block;
						object-fit: cover;
						margin: 0 auto;
						border-radius: 8px;
					}
				}
				&-active {
					.gallery-item {
						border-color: $primary;
					}
				}
			}
		}
	}
}

.product__wrap {
	.product {
		&__info {
			@include respond(tabland) {
				margin-top: 40px;
			}
			.shipping {
				display: flex;
				align-items: center;
				margin-bottom: 17px;

				.desc {
					color: #374242;
					margin-bottom: 0;
				}

				img {
					width: auto;
					height: auto;
					display: block;
					margin-right: 10px;
				}
			}
		}
		&__title {
			margin-bottom: 13px;
			color: $heading;
			font-weight: $semibold;
		}
		&__pricing {
			@include flexbox($a: center, $jc: inherit);
			margin: 15px 0;

			.main__price {
				font-family: $default;
			}
			del {
				font-size: 14px;
				line-height: 18px;
				font-weight: $medium;
				color: #bebebe;
				margin: 0px 12px;
			}
			span {
				font-size: 14px;
				line-height: 18px;
				font-weight: $medium;
				color: $primary;
			}
		}
		&__content {
			margin-bottom: 25px;
			.desc {
				margin-bottom: 0;
			}
		}
	}
	.quantity__wrapper {
		@include flexbox($a: center, $jc: inherit);

		.quantity {
			height: 50px;

			@include respond(phone) {
				height: 42px;
			}
		}
		.btn {
			@include respond(phone-xm) {
				margin-right: 10px !important;
			}
		}
	}
}

.rating {
	@include flexbox($a: center, $jc: inherit);
	.desc {
		font-size: 14px;
		line-height: 12px;
		color: #bebebe;
		margin-left: 10px;
		margin-bottom: 0;
	}
	ul {
		@include flexbox($a: center, $jc: center);

		li {
			list-style: none;
			a {
				font-size: 15px;
				color: #c4c4c4;
				display: inline-block;
				margin: 0px 1.5px;
			}
			&:nth-of-type(1) a {
				color: #ffc90f;
			}
			&:nth-of-type(2) a {
				color: #ffc90f;
			}
			&:nth-of-type(3) a {
				color: #ffc90f;
			}
		}
	}
}
