/*********************************
/* Quantity Start 
*********************************/
.quantity {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius;
    padding: 10px;
    width: 120px;
    height: 40px;
    background: $primary;
    color: $white;

    > input[type="number"] {
        border: none;
        font-size: 15px;
        margin: 0;
        text-align: center;
        font-weight: $medium;
        flex: 1;
        width: 100%;
        color: currentColor;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
    }

    .incressQnt,
    .decressQnt {
        cursor: pointer;
        background: transparent;
        height: 15px;
        width: 15px;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: currentColor;

        .bar {
            position: absolute;
            top: 50%;
            height: 2px;
            width: 15px;
            background: currentColor;
            transform: translateY(-50%);
            right: 0px;
            background-image: none;
            border-radius: 8px;

            @include respond(xl) {
                width: 12px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                height: 15px;
                width: 2px;
                background: currentColor;
                transform: translateY(-50%);
                right: 6px;
                background-image: none;
                border-radius: 8px;
                transition: $transition;

                @include respond(xl) {
                    height: 12px;
                    right: 5px;
                }
            }
        }
    }

    .decressQnt {
        .bar {
            &::before {
                display: none;
            }
        }
    }

    &--outline {
        background: transparent;
        border: 1px solid $border;
        color: $content2;
    }
}

/*********************************
/* Quantity End 
*********************************/
