/*********************************
/* Sidebar Widgets Start
**********************************/
// .sidebar{}
.widget {
    width: 100%;
    background-color: $white;
    border-radius: $radius;
    box-shadow: 0px 1px 5px 0px #5050501a;
    border: 1px solid #ededed;
    padding: 0;
    margin-bottom: 30px;
    @include respond(tabport) {
        margin-top: 30px;
    }
    &__title {
        font-family: $default;
        padding: 24px;
        font-size: 24px;
        line-height: 24px;
        font-weight: $semibold;
        border-bottom: 1px solid #e5e5e5;
        letter-spacing: 0.02em;
        text-align: left;
        color: $content4;
        margin-bottom: 0;
        @include respond(tabland) {
            font-size: 20px;
            line-height: 20px;
            padding: 16px;
        }
    }
    &__content {
        padding: 20px 24px 24px;
        @include respond(tabland) {
            padding: 16px;
        }
        .form-group {
            margin-bottom: 16px;
        }
        .form-control {
            font-family: $default;
            width: 100% !important;
            background-color: #f4f4f6;
            border-color: transparent;
            padding: 12px 16px;
        }
        .select__style {
            .select2-container,
            .select2-selection--single {
                width: 100% !important;
                .select2-selection {
                    background: #f4f4f6;
                }
                .select2-selection__rendered {
                    padding-left: 0;
                    color: $content2;
                    font-size: 16px;
                    font-weight: $regular;
                }
            }
        }

        // widget list style
        ul {
            list-style: none;
            margin-top: -8px;
            li {
                a {
                    font-family: $default;
                    font-size: 16px;
                    font-weight: $medium;
                    line-height: 40px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #667085;
                    @include flexbox($a: center, $jc: space-between);
                    transition: $transition;
                    @include respond(tabland) {
                        font-size: 16px;
                        line-height: 36px;
                    }

                    &:hover,
                    &.active {
                        color: $secondary;
                        text-decoration: underline;
                        text-decoration-thickness: 1px;
                        text-underline-offset: 4px;
                    }
                }
            }
        }
    }
}

// Profuct page Filter Sectioon

.filter-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fcfcfc;
    border: 0.8px solid rgba(144, 150, 166, 0.25);
    border-radius: 8px;
    padding: 12px 26px;
    margin-bottom: 64px;
    @include respond(tabport) {
        margin-bottom: 16px;
        padding: 12px;
    }

    .product-count {
        p {
            margin-bottom: 0;
        }
    }
    @include respond(phone) {
        display: block;
        height: 125px;
    }
}
.search-bar {
    // width: 285px;
    width: 100%;
    margin-bottom: 64px;
    @include respond(tabport) {
        margin-bottom: 25px;
    }

    @include respond(phone) {
        width: 100%;
    }
    form {
        position: relative;
        input {
            width: 100%;
            font-family: $default;
            font-size: 14px;
            font-weight: $regular;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: $content;
            padding: 12px 35px 12px 24px;
            border-radius: 8px;
            height: 50px;
            &:focus {
                box-shadow: none;
                outline: none;
            }
            &::placeholder {
                color: rgba(#5c6680, 0.6);
            }
        }
        button {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            border: none;
            background-color: transparent;
            @include flexbox($a: center, $jc: center);
            color: $content;
            svg {
                path {
                    fill: currentColor;
                    transition: $transition;
                }
            }
            &:hover {
                color: $primary;
            }
        }
    }
}
.product-select {
    .select2-container {
        .select2-selection--single {
            height: 40px;
            background-color: transparent;
            border: 1px solid rgba(#9096a6, 0.26);
            border-radius: 20px;
        }
        .select2-dropdown {
            border-color: $primary !important;
        }
        .select2-selection__rendered {
            font-family: $default;
            font-size: 14px;
            font-weight: $regular;
            color: #5c6680;
        }
    }
    @include respond(phone) {
        margin-top: 20px;
    }
}
